<p><%= @member.name %> - Profile Page</p>

Activities:
<% if @member.activities.any? %>
<%= get_member_activities(@member.id) %>
    <% @member.activities.each do |activity| %>
      <li><%= activity.description %></li>
    <% end %>
  </ul>
<% else %>
  No activities have been added yet.
<% end %>

<%= link_to 'Add activity', new_member_activity_path(@member) %>
<%= link_to 'Back to members', members_path %>
