<div class="container-fluid bg-1">
  <h3><%= @member.name %></h3>
  Activities:
  <% if @member.activities.any? %>
    <%= get_member_activities(@member.id) %>
    <br></br>
    <% @member.activities.each do |activity| %>
    <li class="arrow"><%= activity.description %></li>
  <% end %>
  </ul>
  <% else %>
  No activities have been added yet.
  <% end %>
<br></br>
  <%= link_to 'Add activity', new_member_activity_path(@member) %> /
  <%= link_to 'Back to all members', members_path %>
</div>
